.pheptinh{
    text-align: center;
    background-color: darkgray;

}
.ketqua{
    text-align: center;
    background-color: dodgerblue;
}
table{
    border-collapse: separate;
}
td{
    text-align: center;
}